body {
    background-image: url(../images/mobile/bg-orange-mob.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* @media screensize under 769px */
@media screen and (min-width: 768px) {
    background-image: url(../images/desktop/bg-orange-desktop.jpg);
}