@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Urbanist:ital,wght@0,400;0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-cards: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --color-cardbg-blue: #0052BD;
    --color-cardbg-orange: #A22A06;
    --color-cardbg-purple: #8306D0;
    --color-cardbg-green: #26631D;
    --color-cardbg-darkblue: #245E7F;
    --color-cardbg-yellow: #725409;
    --color-active-link: #C574F6;
    --color-buttonbg: #922FDF;    
    --color-dividers: #A790CF;
    --color-white: #FFFFFF;
    --color-grey: #d9d9d9;
    --color-inactive-buttonbg: #878585;
    --color-black: #000000;
    --color-hover: #FFD600;
}

#index {
    background-image: url(../images/desktop/bg-orange-desktop.jpg);
}
#about {
    background-image: url(../images/desktop/bg-red-desktop.jpg);    
}
#contact {
    background-image: url(../images/desktop/bg-lilac-desktop.jpg);
}
#schools {
    background-image: url(../images/desktop/bg-brown-desktop.jpg);
}
#exhibitions {
    background-image: url(../images/desktop/bg-lilac-desktop.jpg);
}
#events {
    background-image: url(../images/desktop/bg-orange-desktop.jpg);
}
#explore {
    background-image: url(../images/desktop/bg-green-desktop.jpg);
}
#visit {
    background-image: url(../images/desktop/bg-blue-desktop.jpg);
}
#getinvolved {
    background-image: url(../images/desktop/bg-purple-desktop.jpg);
}

body {
    background-color: var(--color-black);    
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
    /* For Headers: */
    // font-family: 'Urbanist', sans-serif;
    min-height: 100vh;
    color: var(--color-white);    
}


/* Skip-to main tip from https://css-tricks.com/how-to-create-a-skip-to-content-link/#maincontent */
/* Tab shortcut to skip to main content */
.skip-link {
    background-color: var(--color-black);
    color: var(--color-white);    
    left: 1%;
    top: 5px;
    padding: 4px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 0.4em;
    border: 1px solid var(--color-white);
    position: absolute;
    transform: translateY(-200px);
    z-index: 200;
    text-decoration: none;
}
  
.skip-link:focus {
    transform: translateY(0%);
}

.top-1px {        
    background-image: url(../images/mobile/img-top.png);
    height: 1px;
    width: 1px;
    position: relative;
    top: -200px;
}

.container {
    background-color: var(--color-black);
    position: sticky;
    top: -55px;
    bottom: 5px;
    z-index: 100;
}

.header-wrapper {
    display: block;
    .logo-link {
        position: relative;
        top: -5px;
        left: 5px;
        font-size: 0em;
    }
}

.logo {
    align-items: center;
    object-fit: cover;
    top: -15px;
    height: 55px;
    width: 141px;
    img {
        height: 75px;
    }
}

#active {
    color: var(--color-active-link);
    cursor: default;
    }

.active {
    .active {
    color: var(--color-active-link);
    cursor: default;
    }
}

/* Radial Out - Tip from https://ianlunn.github.io/Hover/#effects */
.hvr-radial-out {
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    transition-property: color;
    transition-duration: 0.3s;
  }
  .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-hover);
    border-radius: 1em;
    transform: scale(0);
    transition: transform 0.3s ease-out;    
  }  
  .hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {    
    transform: scale(1);
  }

.navigation__top, .navigation__footer {
    ul {        
        display: flex;
        width: 100%;
        justify-content: space-around;
        height: 50px;
        text-align: center;
        align-items: center;
    }
    .visit {
        position: absolute;
        right: 110px;
        top: 15px;
        background-color: var(--color-cardbg-blue);
    }    
    .get-involved {
        position: absolute;
        right: 10px;
        top: 15px;
        background-color: var(--color-buttonbg);
    }
    .get-involved, .visit {        
        border-radius: 1em;
        width: 95px;
        height: 24px;
        text-align: center;
        a {
        font-size: 1rem;
        }
    }
    a {
        display: flex;        
        color: var(--color-white);
        font-size: 1.2rem;
        align-items: center;
        text-decoration: none;  
    }    
    li {
        display: inline-flex;
        justify-content: center;
    }
}

.menu {
    border-bottom: 1px solid var(--color-white);
    .nav__desktop {
        display: none;
        a {
            display: none;
        }
    }
}

/* Main section */
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home__header {
    h1 {
        z-index: -100;
    }
    color: #0000;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    background-image: url(../images/mobile/title-text__home.svg);
    background-size: 308px 129px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 130px;
    transition: all 0.5s;
}

.home__header:hover {
    transform: scale(1.2);        
}

.main__wrapper {
    width: 345px;    
    max-width: 345px;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    // justify-content: center;
    // text-align: center;
    h1 {
        font-family: 'Urbanist';
        font-style: normal;
        font-weight: 700;
        font-size: 2.25rem;
        // line-height: 43px;
        text-align: center;
        // letter-spacing: -0.04em;
    }
}
.events__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: spac;
    gap: 1em;
    min-width: 350px;
    max-width: 1200px;
}
.image__wrapper {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    box-shadow: var(--box-shadow-cards);
}

.shadow {
    text-shadow: var(--text-shadow);
}

.explore-together {
    text-align: center;
    margin: 1em auto;
}
.saying {
    font-size: 1.5rem;
    line-height: 28px;
}
.pink-h3 {
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-active-link);    
}
.pink-h4 {
    font-style: italic;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-active-link);
    margin: 1.5em 0 0.5em 0;    
}

.passion-image {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: 345px 150px;
    height: 150px;
    width: 345px;
    margin-bottom: 1em;
    background-position: center;
    transition: all 0.3s;
}
.passion-image:hover {        
    transform: scale(1.2);
}

.about-image {
    background-image: url(../images/mobile/img-passion-about-page.jpg);
}
.contact-image {
    background-image: url(../images/mobile/img-passion-contact-page.jpg);
}
.schools-image {
    background-image: url(../images/mobile/img-passion-schools-page.jpg);
}
.visit-image {
    background-image: url(../images/mobile/img-passion-visit-page.jpg);
}
.exhibitions-image {
    background-image: url(../images/mobile/img-passion-exhibitions-page.jpg);
}
.events-image {
    background-image: url(../images/mobile/img-passion-events-page.jpg);
}

.divider {
    background-image: url(../images/mobile/divider-light-purple-short.svg);
    height: 5px;
    width: 345px;
    margin: 1em auto;
}

.about-infotext {
    p {
        font-size: 1.25rem;
    }
    p, h2, h3 {
        line-height: 1.35rem;
        padding: 1em 0 0 0.5em;
    }
}

/* Main section | Contact Page */
.contact__wrapper, .exhibition__wrapper {
    display: flex;
    flex-wrap: wrap;    
    max-width: 800px;
    margin: 2em auto;
    gap: 3em;
    align-items: center;
    justify-content: space-around;
}

.exhibition__wrapper {
    max-width: 1200px;
}

.card__contact {
    display: flex;
    justify-content: space-around;
    width: 350px;
    height: 130px;
    overflow: hidden;    
}

.img__contact {    
    border-radius: 50%;
    background-size: 100%;
    height: 130px;
    width: 130px;
    max-width: 130px;
    max-height: 130px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
    transition: all 0.5s; 
}
.img__contact:hover {
    transform: rotate(360deg);        
  }

.contact-headers {
    opacity: 0;
    z-index: -50;
}

.contact-card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.25rem;
    height: 130px;
    .divider {
        background-image: url(../images/mobile/divider-light-purple-shortest.svg);
        width: 200px;
        background-size: cover;
        margin: 0;
    }   
}
.location__text {
    font-size: 1.5rem;
}
.img__location {
    background-image: url(../images/mobile/img-contact-address.png);
}
.img__maps {
    background-image: url(../images/mobile/img-contact-maps.png);
}
.img__phone {
    background-image: url(../images/mobile/img-contact-phone.png);
}
.img__mail {
    background-image: url(../images/mobile/img-contact-email.png);
}
.img__open {
    background-image: url(../images/mobile/img-contact-open.png);
}

.science {
    margin: 1em 0 0 0;
}

.open-in-maps {
    display: flex;
    justify-content: left;
    transform: translateX(0px);
    transition: all 0.2s;
}
.open-in-maps:hover {
    transform: translateX(1rem);
    // transition: all 0.2s;
}
.open-in-maps:after {
    content: url(../images/mobile/ico-map-marker-outline.svg);
    margin-left: 10px;
}


/* Main section | Cards */
#cards {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    gap: 1em;
    a:hover {
        transition: all 0.1s;
    }
}
.cards-events {
    // display: flex;
    // gap: 1em;
    height: 300px;
}

.cards-home__desktop {
    width: 345px;
    height: 260px;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}
.cards-events__desktop {
    width: 345px;
    height: 260px;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

.cards-home__mobile {
    width: 345px;
    height: 130px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}
.cards-events__mobile {
    width: 345px;
    height: 130px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

.cards-home__top {
    display: flex;
}

.cards-home__image {
    max-width: 130px;
    width: 130px;
    height: 130px;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    img:hover {
        transform: scale(1.2);        
      }
      img {
        transition: all 0.3s;
      }
}

.cards-home__title {
    width: 215px;
    padding: 0.8em;
    a {
        color: var(--color-white);
        text-decoration: none;
        height: 40px;
        align-items: center;
    }    
    .learn-more {        
        font-size: 1.25rem;
        display: flex;
        justify-content: left;
        height: 40px;
        align-items: center;
        transform: translateX(0px);
        transition: all 0.2s;
    }    
    a:hover {
        color: var(--color-white);
    }
    .learn-more:after {
        content: url(../images/mobile/ico-chevron-right-white.svg);
        align-items: center;
        height: 40px;
        display: flex;
        position: relative;
        top: 4px;        
    }
    .learn-more:hover {
        transform: translateX(14px);
        transition: all 0.2s;
    }
    h2 {
        font-family: 'Urbanist', sans-serif;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 43px;
    }
    
}

.cards-home__desktop {
    display: none;
}

.cards-home__info {
    height: 130px;
    width: 345px;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 2px 10px 0 10px;
    line-height: 1.3rem;
}

.info-title {
    font-size: 1.2rem;
}

.exhibitions {
    background-color: var(--color-cardbg-blue);
}
.holiday-club {
    background-color: var(--color-cardbg-orange);
}
.young-stars {
    background-color: var(--color-cardbg-purple);
}
.sleepover {
    background-color: var(--color-cardbg-green);
}
.cinema {
    background-color: var(--color-cardbg-darkblue);
}
.schools {
    background-color: var(--color-cardbg-yellow);
}

/* Main section | Exhibitions */
.card__exhibitions {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 670px;
    .divider {
        width: 350px;
    }
}
.card__vr, .card__vr-bottom {
    display: flex;
    height: 130px;    
}
.card__exhibitions:hover {
    text-shadow: 0px 4px 4px var(--color-black);    
}
.card__vr-bottom {
    width: 350px;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 350px;
}

.exhibitions__title {
    display: flex;
    position: relative;
    bottom: 10px;
    align-items: center;
    margin-left: 10px;
    width: 200px;
    text-align: center;
    h2 {
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    }
    .eco {
     font-size: 2rem;   
    }
}
.exhibitions__text {
    line-height: 1.4rem;
    height: 370px;
    p {
        font-size: 1.25rem;
        padding: 0.5rem;
    }
}
.exhibitions__bottom {
    display: flex;
    justify-content: flex-start;
    width: 200px;
    p {
        font-style: italic;        
        font-size: 1.20rem;
        line-height: 2rem;
        font-weight: 700;
        text-align: left;
        position: relative;
    }
}
.img__vr {
    background-image: url(../images/mobile/img-exhibitions-vr.png);
}
.img__space {
    background-image: url(../images/mobile/img-exhibitions-space.png);
}
.img__dino {
    background-image: url(../images/mobile/img-exhibitions-dino.png);
}
.img__eco {
    background-image: url(../images/mobile/img-exhibitions-ecology.png);
}
.img__medicine {
    background-image: url(../images/mobile/img-exhibitions-microscope.png);
}
.img__vr-bottom {
    background-image: url(../images/mobile/img-exhibitions-robot.jpg);
}
.img__space-bottom {
    background-image: url(../images/mobile/img-exhibitions-astronaut.jpg);
}
.img__dino-bottom {
    background-image: url(../images/mobile/img-exhibitions-dino.jpg);
}
.img__eco-bottom {
    background-image: url(../images/mobile/img-exhibitions-windmills.jpg);
}
.img__medicine-bottom {
    background-image: url(../images/mobile/img-exhibitions-eye.jpg);
}
.moon-divider {
    display: none;
}

/* Footer */
footer {
    margin-top: 2em;
    display: block;
    justify-content: center;
    text-align: center;
}

.navigation__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--color-white);
    ul {
        margin-top: 0.5em;
        max-width: 350px;
        border-bottom: 0px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    li {
        align-items: center;
        display: flex;
    }
    a {
        display: flex;
        align-items: center;
    }
    
}
#visit {
    .visit {
        opacity: 60%;
        a {
            color: var(--color-white);
            opacity: 80%;
            font-weight: 500;
        }
    }
}
#getinvolved {
    .getinvolved {
        opacity: 60%;
        a {
            color: var(--color-white);
            opacity: 80%;
            font-weight: 500;
        }
    }
}
.get-involved:hover, .back-to-top:hover, .visit:hover {
    transition: all 0.3s;
    a {
        color: var(--color-black);
    }
}

.back-to-top {
    background-color: var(--color-buttonbg);
    border-radius: 1em;
    width: 100px;
    height: 24px;
    text-align: center;
    a {
        font-size: 1rem;
        }
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}


a {
    text-decoration: none;
    color: var(--color-white);
}
a:hover {
    color: var(--color-active-link);
}

.address, .mail-address, .phone-number {
    width: 270px;
    display: flex;
    height: 30px;
    align-items: center;
    vertical-align: middle;
    font-size: 1.2rem;
}
.address::before {
    position: relative;
    padding-right: 6px;
    top: 3px;    
    content: url(../images/mobile/ico-cellphone-maps.svg);    
}
.mail-address::before {
    position: relative;
    padding-right: 6px;
    top: 3px;
    content: url(../images/mobile/ico-emailsvg.svg);
}
.phone-number::before {
    position: relative;
    padding-right: 6px;
    top: 3px;
    content: url(../images/mobile/ico-phone.svg);
}

.social-media__icons {
    padding: 0.5em;    
    img:hover {
        transform: scale(1.5);        
      }
      img {
        padding: 0 0.5em;
        transition: all 0.1s;
        color: var(--color-active-link);
      }
}

.copyright {
    width: 100%;
    font-size: 0.8rem;
    align-items: center;
    padding: 1em;
    border-top: 1px solid var(--color-white);
}

@media screen and (min-width: 800px) {    
    .logo {
        position: absolute;
        top: 10px;
    }
    .container {        
        background-color: var(--color-black);
        position: sticky;
        height: 75px;
        top: 0px;
        bottom: 5px;
    }
    .navigation__top {
        .visit {
            position: absolute;
            right: 120px;
            top: -30px;
        }
        .get-involved {
            position: absolute;
            right: 0px;
            top: -30px;
        }        
        .get-involved:hover, .back-to-top:hover, .visit:hover {    
            a {
                color: var(--color-black);
            }
        }
    }
    .main__wrapper {
        width: 100%;
        max-width: 1200px;
    }
    #cards {
        max-width: 1200px;
        margin: 1em 1em;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1em;
    }
    .cards-home__desktop {
        display: flex;        
    }
    .cards-home {
        height: 260px;
    }
    .menu {
        .nav__desktop {
            display: flex;
            a {
                display: flex;
            }
        }
    }
    .header-wrapper {    
        display: flex;
        width: 100%;
        height: 60px;
        ul {
            position: absolute;
            right: 20px;
            display: flex;
            justify-content: space-between;
            width: 600px;
            height: 30px;
            margin-top: 2.4em;
            padding-bottom: 10px;
            border-bottom: 1px solid var(--color-white);
        }
    }
    .navigation__top {
        display: flex;
        justify-content: space-between;
    }
    .home__header {
        height: 200px;
        width: 100%;
        background-image: url(../images/desktop/title-text__home.svg);
        background-size: 752px 183px;
    }
    .divider {
        background-image: url(../images/mobile/divider-light-purple.svg);        
        width: 768px;        
    }
    .moon-divider {
        display: flex;
        margin: 0 auto;        
        height: 105px;
        width: 768px;
        max-width: 700px;
        background-image: url(../images/desktop/moon.png);
        background-size: 100%;
        background-repeat: no-repeat;
        transition: all 0.3s;
    }
    .moon-divider:hover {
        transform: scale(1.2);
    }
    .passion-image {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-size: 690px 150px;
        height: 150px;
        width: 690px;
        margin: 1em auto 2em auto;
        background-position: center;
        overflow: hidden;
        max-width: 690px;
        max-height: 150px;
        transition: all 0.3s;
    }    
    .about-image {        
        background-image: url(../images/desktop/img-passion-about-page.jpg);        
    }
    .about-infotext {
        width: 768px;
    }
    .contact-image {        
        background-image: url(../images/desktop/img-passion-contact-page.jpg);
    }
    .schools-image {
        background-image: url(../images/desktop/img-passion-schools-page.jpg);
    }
    .visit-image {
        background-image: url(../images/desktop/img-passion-visit-page.jpg);
    }
    .exhibitions-image {
        background-image: url(../images/desktop/img-passion-exhibitions-page.jpg);
    }
    .events-image {
        background-image: url(../images/desktop/img-passion-events-page.jpg);
    }
}