@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Urbanist&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

root {
    --box-shadow-cards: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --color-cardbg-blue: #2F88FF;
    --color-cardbg-blue: #2F88FF;
    --color-cardbg-blue: #2F88FF;
    --color-cardbg-blue: #2F88FF;
    --color-cardbg-blue: #2F88FF;
    --color-cardbg-blue: #2F88FF;
}
body {
    background-image: url(../images/mobile/bg-orange-mob.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    // font-family: 'Urbanist', sans-serif;
}
