@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Urbanist&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* @media screensize under 769px */
@media screen and (min-width: 768px) {
    background-image: url(../images/desktop/bg-orange-desktop.jpg);
}